@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);

html {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.966) 50%, rgba(204, 204, 204, 0.911) 0%);
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

.display-1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 6rem;
	font-display: swap;
}

.display-1>.mbr-iconfont {
	font-size: 9.6rem;
}

.display-2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 4rem;
	font-display: swap;
}

.display-2>.mbr-iconfont {
	font-size: 6.4rem;
}

.display-4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2rem;
	font-display: swap;
}

.display-4>.mbr-iconfont {
	font-size: 1.92rem;
}

.display-5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	font-display: swap;
}

.display-5>.mbr-iconfont {
	font-size: 3.2rem;
}

.display-7 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2rem;
	font-display: swap;
}

.display-7>.mbr-iconfont {
	font-size: 1.92rem;
}

@media (max-width: 768px) {
	.display-1 {
		font-size: 4.8rem;
		font-size: calc(2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
	}

	.display-2 {
		font-size: 3.2rem;
		font-size: calc(2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
	}

	.display-4 {
		font-size: 0.96rem;
		font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
	}

	.display-5 {
		font-size: 1.6rem;
		font-size: calc(1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
	}
}