@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);

html {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.966) 50%, rgba(204, 204, 204, 0.911) 0%);
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

.display-1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 6rem;
	font-display: swap;
}

.display-1>.mbr-iconfont {
	font-size: 9.6rem;
}

.display-2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 4rem;
	font-display: swap;
}

.display-2>.mbr-iconfont {
	font-size: 6.4rem;
}

.display-4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2rem;
	font-display: swap;
}

.display-4>.mbr-iconfont {
	font-size: 1.92rem;
}

.display-5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	font-display: swap;
}

.display-5>.mbr-iconfont {
	font-size: 3.2rem;
}

.display-7 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2rem;
	font-display: swap;
}

.display-7>.mbr-iconfont {
	font-size: 1.92rem;
}

@media (max-width: 768px) {
	.display-1 {
		font-size: 4.8rem;
		font-size: calc(2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
	}

	.display-2 {
		font-size: 3.2rem;
		font-size: calc(2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
	}

	.display-4 {
		font-size: 0.96rem;
		font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
	}

	.display-5 {
		font-size: 1.6rem;
		font-size: calc(1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
	}
}

.btn {
	padding: 1rem 3rem;
	border-radius: 3px;
}

.btn-sm {
	padding: 0.6rem 1.5rem;
	border-radius: 3px;
}

.btn-md {
	padding: 1rem 3rem;
	border-radius: 3px;
}

.btn-lg {
	padding: 1.2rem 3.2rem;
	border-radius: 3px;
}

.bg-primary {
	background-color: #232323 !important;
}

.bg-success {
	background-color: #008800 !important;
}

.bg-info {
	background-color: #000000 !important;
}

.bg-warning {
	background-color: #efefef !important;
}

.bg-danger {
	background-color: #00e600 !important;
}

.btn-primary,
.btn-primary:active {
	background-color: #232323 !important;
	border-color: #232323 !important;
	color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
	color: #ffffff !important;
	background-color: #000000 !important;
	border-color: #000000 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #ffffff !important;
	background-color: #000000 !important;
	border-color: #000000 !important;
}

.btn-secondary,
.btn-secondary:active {
	background-color: #00cf00 !important;
	border-color: #00cf00 !important;
	color: #ffffff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
	color: #ffffff !important;
	background-color: #008300 !important;
	border-color: #008300 !important;
}

.scrollToTop_wraper {
	display: none;
}

.form-control {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2rem;
	font-display: swap;
}

.form-control>.mbr-iconfont {
	font-size: 1.92rem;
}

blockquote {
	border-color: #232323;
}

.mbr-form .btn {
	margin: .4rem 0;
}

@media (max-width: 767px) {
	.btn {
		font-size: .75rem !important;
	}

	.btn .mbr-iconfont {
		font-size: 1rem !important;
	}
}

.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
	background: #232323;
}

.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
	color: #232323;
}